swagger: "2.0"
info:
  description: ""
  version: "1.0.0"
  title: "WSS - API"
  contact:
    email: "citron0137@gmail.com"
host: "dochoon.com"
basePath: "/api/"
schemes:
- "http"
paths:
  /auth/register:
    post:
      tags:
      - "Auth"
      summary: "Create user"
      description: ""
      operationId: "register"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "user object"
        required: true
        schema:
          type: object
          properties:
            name:
              type: string
            id:
              type: string
            pw:
              type: string
      responses:
        200:
          description: "successful operation"
          schema:
            type: object
            properties:
              success:
               type: boolean
              ix:
                type: number
              id:
                type: string
              name:
                type: string
              is_admin:
                type: boolean
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
          
  /auth/login:
    post:
      tags:
      - "Auth"
      summary: "login"
      description: ""
      operationId: "login"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "user object"
        required: true
        schema:
          type: object
          properties:
            id:
              type: string
            pw:
              type: string
      responses:
        200:
          description: "successful operation"
          schema:
            type: object
            properties:
              success:
               type: boolean
              message:
                type: string
              token:
                type: string
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
  /auth/check:
    get:
      security:
      - UserSecurity: []         
      tags:
      - "Auth"
      summary: "check"
      description: ""
      operationId: "check"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: object
            properties:
              ix:
                type: number
              id:
                type: string
              is_admin:
                type: boolean
              iat:
                type: number
              exp:
                type: number
              sub:
                type: string
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
  /board:
    post:
      security:
      - UserSecurity: []         
      tags:
      - "Board"
      summary: "Create board"
      description: ""
      operationId: "createBoard"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          type: object
          properties:
            name:
              type: string
            is_admin:
              type: boolean
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/board"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
    get:
      security:
      - UserSecurity: []         
      tags:
      - "Board"
      summary: "Get boards"
      description: ""
      operationId: "get boards"
      produces:
      - "application/json"
      parameters:
      - in: "query"
        name: name
        type: string
      responses:
        200:
          description: "successful operation"
          schema:
            type: array
            items:
              $ref: "#/definitions/board"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
  /board/{board_ix}:
    get:
      tags:
      - "Board"
      security:
      - UserSecurity: []         
      - "Board"
      summary: "Get board"
      description: ""
      operationId: "get board"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: board_ix
        type: integer
        required: true
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/board"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
    put:
      security:
      - UserSecurity: []         
      tags:
      - "Board"
      summary: "Get boards"
      description: ""
      operationId: "update board"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: board_ix
        type: integer
        required: true
      - in: "body"
        name: "body"
        required: true
        schema:
          type: object
          properties:
            name:
              type: string
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/board"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
    delete:
      security:
      - UserSecurity: []         
      tags:
      - "Board"
      summary: "delete boards"
      description: ""
      operationId: "delete board"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: board_ix
        type: integer
        required: true
      responses:
        200:
          description: "successful operation"
          schema:
            type: object
            properties:
              success:
               type: boolean
              message:
                type: string
        400:
          description: "failed operation"
          schema:
            type: object
            properties:
              success:
               type: boolean
              message:
                type: string
          
  /post:
    post:
      security:
      - UserSecurity: []         
      tags:
      - "Post"
      summary: "Create Post"
      description: ""
      operationId: "createPost"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          type: object
          properties:
            board_ix:
              type: number
            title:
              type: string
            contents:
              type: string
            is_private:
              type: boolean
            is_comment:
              type: boolean
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/post"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
    get:
      security:
      - UserSecurity: []         
      tags:
      - "Post"
      summary: "Get Posts"
      description: ""
      operationId: "getPosts"
      produces:
      - "application/json"
      parameters:
        - in: "query"
          name: title
          type: string
        - in: "query"
          name: board_ix
          type: number
      responses:
        200:
          description: "successful operation"
          schema:
            type: array
            items:
              $ref: "#/definitions/post"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
  /post/{post_ix}:
    get:
      security:
      - UserSecurity: []         
      tags:
      - "Post"
      summary: "Get Post"
      description: ""
      operationId: "getPost"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: post_ix
        type: integer
        required: true
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/post"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
    put:
      security:
      - UserSecurity: []         
      tags:
      - "Post"
      summary: "Get Post"
      description: ""
      operationId: "update Post"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: post_ix
        type: integer
        required: true
      - in: "body"
        name: "body"
        required: true
        schema:
          type: object
          properties:
            board_ix:
              type: number
            title:
              type: string
            contents:
              type: string
            is_private:
              type: boolean
            is_commnet:
              type: boolean
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/post"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
    delete:
      security:
      - UserSecurity: []         
      tags:
      - "Post"
      summary: "delete Post"
      description: ""
      operationId: "delete Post"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: post_ix
        type: integer
        required: true
      responses:
        200:
          description: "success operation"
          schema:
            $ref: "#/definitions/onError"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
  /comment:
    post:
      security:
      - UserSecurity: []         
      tags:
      - "Comment"
      summary: "Create Comment"
      description: ""
      operationId: "createComment"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/comment"
      responses:
        200:
          description: "success operation"
          schema:
            $ref: "#/definitions/comment"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
    get:
      security:
      - UserSecurity: []         
      tags:
      - "Comment"
      summary: "Get Comment"
      description: ""
      operationId: "getComments"
      produces:
      - "application/json"
      responses:
        200:
          description: "success operation"
          schema:
            type: array
            items:
              $ref: "#/definitions/comment"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
            
  /comment/{comment_ix}:
    get:
      security:
      - UserSecurity: []         
      tags:
      - "Comment"
      summary: "Get Comment"
      description: ""
      operationId: "getComment"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: comment_ix
        type: integer
        required: true
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/comment"
      responses:
        200:
          description: "success operation"
          schema:
            $ref: "#/definitions/comment"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
    put:
      security:
      - UserSecurity: []         
      tags:
      - "Comment"
      summary: "Get Comment"
      description: ""
      operationId: "update Comment"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: comment_ix
        type: integer
        required: true
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/comment"
      responses:
        200:
          description: "success operation"
          schema:
            $ref: "#/definitions/comment"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
    delete:
      security:
      - UserSecurity: []         
      tags:
      - "Comment"
      summary: "delete Comment"
      description: ""
      operationId: "delete Comment"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: comment_ix
        type: integer
        required: true
      responses:
        200:
          description: "success operation"
          schema:
            $ref: "#/definitions/onError"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
  /file:
    post:
      security:
      - UserSecurity: []         
      tags:
      - "File"
      summary: "Create File"
      description: ""
      operationId: "create File"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "file"
        required: true
        schema:
          type: string
      responses:
        200:
          description: "success operation"
          schema:
            $ref: "#/definitions/file"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
    get:
      security:
      - UserSecurity: []         
      tags:
      - "File"
      summary: "Get Files"
      description: ""
      operationId: "getFiles"
      produces:
      - "application/json"
      responses:
        200:
          description: "success operation"
          schema:
            type: array
            items:
              $ref: "#/definitions/file"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
  /file/{name}:
    get:
      security:
      - UserSecurity: []         
      tags:
      - "File"
      summary: "Get File"
      description: ""
      operationId: "getFile"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: name
        type: string
        required: true
      responses:
        200:
          description: "success operation"
          schema:
            $ref: "#/definitions/file"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
    put:
      deprecated: true
      security:
      - UserSecurity: []         
      tags:
      - "File"
      summary: "Get File"
      description: ""
      operationId: "update File"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: name
        type: string
        required: true
      - in: "body"
        name: "file"
        required: true
        schema:
          type: string
      responses:
        200:
          description: "success operation"
          schema:
            $ref: "#/definitions/file"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
    delete:
      security:
      - UserSecurity: []         
      tags:
      - "File"
      summary: "delete File"
      description: ""
      operationId: "delete File"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: name
        type: string
        required: true
      responses:
        200:
          description: "success operation"
          schema:
            $ref: "#/definitions/onError"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
  /vote:
    post:
      security:
      - UserSecurity: []         
      tags:
      - "Vote"
      summary: "Create Vote"
      description: ""
      operationId: "create Vote"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/vote"
      responses:
        200:
          description: "success operation"
          schema:
            $ref: "#/definitions/vote"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
    get:
      security:
      - UserSecurity: []         
      tags:
      - "Vote"
      summary: "Get Vote"
      description: ""
      operationId: "getVotes"
      produces:
      - "application/json"
      responses:
        200:
          description: "success operation"
          schema:
            type: array
            items:
              $ref: "#/definitions/vote"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
          
  /vote/{vote_ix}:
    get:
      security:
      - UserSecurity: []         
      tags:
      - "Vote"
      summary: "Get Vote"
      description: ""
      operationId: "getVote"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: vote_ix
        type: integer
        required: true
      responses:
        200:
          description: "success operation"
          schema:
            $ref: "#/definitions/vote"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
    put:
      security:
      - UserSecurity: []         
      tags:
      - "Vote"
      summary: "Get Vote"
      description: ""
      operationId: "update Vote"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/vote"
      - in: "path"
        name: vote_ix
        type: integer
        required: true
      responses:
        200:
          description: "success operation"
          schema:
            $ref: "#/definitions/vote"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
    delete:
      security:
      - UserSecurity: []         
      tags:
      - "Vote"
      summary: "delete Vote"
      description: ""
      operationId: "delete Vote"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: vote_ix
        type: integer
        required: true
      responses:
        200:
          description: "success operation"
          schema:
            $ref: "#/definitions/onError"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
            
  /vote_item/:
    post:
      security:
      - UserSecurity: []         
      tags:
      - "Vote"
      summary: "Vote_item"
      description: ""
      operationId: "create vote_item"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/vote_item"
      responses:
        200:
          description: "success operation"
          schema:
            $ref: "#/definitions/vote_item"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
    get:
      security:
      - UserSecurity: []         
      tags:
      - "Vote"
      summary: "Vote_item"
      description: ""
      operationId: "find vote_item"
      produces:
      - "application/json"
      parameters:
      - in: "query"
        name: vote_ix
        type: integer
      responses:
        200:
          description: "success operation"
          schema:
            $ref: "#/definitions/vote_item"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"
  /vote_to_item:
    post:
      security:
      - UserSecurity: []         
      tags:
      - "Vote"
      summary: "Vote_to_item"
      description: ""
      operationId: "vote_to_item"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          type: object
          properties:
            user_ix:
              type: integer
            vote_item_ix:
              type: integer
      responses:
        200:
          description: "success operation"
          schema:
            $ref: "#/definitions/vote_item"
        400:
          description: "failed operation"
          schema:
            $ref: "#/definitions/onError"      
definitions : 
  onError:
    properties:
      message: 
        type: string
      boolean:
        type: boolean
  board :  
    properties: 
      ix: 
        type: number
      name: 
        type: string
      is_admin:
        type: boolean
  post:  
    properties: 
      ix: 
        type: number
      user_ix:
        type: number
      board_ix:
        type: number
      title:
        type: string
      contents:
        type: string
      view_count:
        type: number
      is_private:
        type: boolean
      is_comment:
        type: boolean
      create_at:
        type: string
      update_at:
        type: string
  comment:
    properties:
      ix:
        type: number
      parent_ix:
        type: number
      is_comment-parent:
        type: boolean
      user_ix:
        type: string
      is_private:
        type: boolean
      is_anon:
        type: boolean
      contents:
        type: string
      create_at:
        type: string
      update_at:
        type: string
  file:
    properties:
      ix:
        type: number
      type:
        type: string
      user_ix:
        type: string
      is_private:
        type: boolean
      is_anon:
        type: boolean
      name:
        type: string
      create_at:
        type: string
      update_at:
        type: string
        
  vote:
    properties:
      ix:
        type: number
      user_ix:
        type: number
      title:
        type: string
      is_anon:
        type: boolean
      is_anon_vote:
        type: boolean
      create_at:
        type: string
      update_at:
        type: string
      start_at:
        type: string
      close_at:
        type: string
  vote_item:
    properties:
      ix:
        type: number
      vote_ix:
        type: number
      contents:
        type: string

        
securityDefinitions:
  UserSecurity:
    type: apiKey
    in: header
    name: x-access-token
    schemes: -http
security:
  - UserSecurity: []         

externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
  
